# History files
.Rhistory
.Rdata
*.history
*~
.#*

# Example code in package build process
*-Ex.R

# Unpacked data directories
Getting and Cleaning Data/week3/merged_tidy.txt
Getting and Cleaning Data/week3/merged_tidy2.txt
Getting and Cleaning Data/week3/UCI HAR Dataset
Exploratory Data Analysis/week2/data/Source_Classification_Code.rds

Exploratory Data Analysis/week2/data/summarySCC_PM25.rds
